<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="container header">
        <div class="container header-left">
            <img src="https://i.pinimg.com/564x/b0/25/0f/b0250fceb6a32dd50079bd37636abd2f.jpg" alt="Logo" srcset="" class="logo">
            <a href="/" class="link">Home</a>
            <a href="/quiz" class="link">Quiz</a>
        </div>
        <div class="container header-right"></div>
    </div>
